:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --hover-color-button: #188ce8;
  --primary-black-color: #000000;
  --primary-white-color: #ffffff;
  --address-footer-color: #ffffff99;
  --form-border-color: #ffffff4d;
  --bcg-color: #2f303a;
  --bcg-color-hero: #c4c4c4;
  --bcg-color-grey: #f5f4fa;
  --border-line-header: #ececec;
  --border-line-card: #eeeeee;
  --social-link-color: #afb1b8;
  --modal-form-border: #21212133;
  --modal-form-placeholder: #75757580;
}

/* Стили для всего сайта */
body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.nav-list__link--current {
  position: relative;
  color: var(--accent-color);
}

.nav-list__link--current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* ГЛАВНАЯ */

/* ХЕДЕР */
/* Лого */
.header {
  border-bottom: 1px solid var(--border-line-header);
}

.logo {
  margin-right: 93px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.logo--black {
  color: var(--primary-black-color);
}

/* Область навигации */
.nav-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.nav-list__item:not(:last-child) {
  margin-right: 50px;
}

/* Увеличиваем область нажатия ссылок */
.nav-list__link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: inline-block;
}

/* Адреса */
.address-header {
  display: flex;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.address-header__item:not(:last-child) {
  margin-right: 50px;
}

.address-header__icon {
  fill: currentColor;
  margin-right: 10px;
}

/* Увеличиваем область нажатия ссылок */
.address-header__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

/* ГЕРОЙ */
.hero {
  background-color: var(--bcg-color-hero);
}

.hero-container {
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 630px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

/* Кнопка */
.button-primary {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  border: 1px solid transparent;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-primary:hover,
.button-primary:focus {
  background-color: var(--hover-color-button);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* ОСОБЕННОСТИ */
/* Прячем заголовок уровня h2, как Julia Kleimenova показывала на занятии */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.features {
  display: flex;
}

.features__item:not(:last-child) {
  margin-right: 30px;
}

.features__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.features__item::before {
  content: '';
  display: block;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: var(--bcg-color-grey);
}

.features__item:nth-child(1)::before {
  background-image: url('../images/icons/antenna.svg');
}

.features__item:nth-child(2)::before {
  background-image: url('../images/icons/clock.svg');
}

.features__item:nth-child(3)::before {
  background-image: url('../images/icons/diagram.svg');
}

.features__item:nth-child(4)::before {
  background-image: url('../images/icons/astronaut.svg');
}

/* Чем мы занимаемся */
.no-padding {
  padding-top: 0;
}

.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
}

.work {
  display: flex;
  justify-content: space-between;
}

.work__item {
  position: relative;
}

.work__title {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

/* НАША КОМАНДА */
.team {
  background-color: var(--bcg-color-grey);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.team-list__item {
  flex-basis: calc((100% - 30px * 4) / 4);
  text-align: center;
  margin-left: 30px;
  margin-top: 30px;
  font-size: 16px;
  line-height: 1.19;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-white-color);
}

.team-list__thumb {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list__member {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);
}
.team-list__text {
  margin-bottom: 16px;
}

.socials-list {
  display: inline-flex;
}

.socials-list__item:not(:last-child) {
  margin-right: 10px;
}

.socials-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-list__link:hover,
.socials-list__link:focus {
  background-color: var(--accent-color);
}

.socials-list__icon {
  width: 20px;
  height: 20px;
  fill: var(--social-link-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-list__link:hover .socials-list__icon,
.socials-list__link:focus .socials-list__icon {
  fill: var(--primary-white-color);
}

/* ПОСТОЯННЫЕ КЛИЕНТЫ */
.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.clients-list__item {
  flex-basis: calc((100% - 180px) / 6);
  margin-left: 30px;
  margin-top: 30px;
}

.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid var(--social-link-color);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover,
.clients-list__link:focus {
  border: 1px solid var(--accent-color);
}

.clients-list__icon {
  fill: var(--social-link-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover .clients-list__icon,
.clients-list__link:focus .clients-list__icon {
  fill: var(--accent-color);
}

/* ФУТЕР */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bcg-color);
}

.footer-main {
  display: flex;
  justify-content: space-between;
}

.footer-main div {
  flex-basis: calc((50% - 45px) / 2);
}

.footer-main div:last-child {
  flex-basis: calc(50% - 15px);
}

/* Лого, меняем цвет studio */
.logo--white {
  color: var(--primary-white-color);
}

/* Область адресов с лого */
.address-list {
  margin-top: 20px;
  font-style: normal;
  color: var(--address-footer-color);
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-list .map {
  color: var(--primary-white-color);
}

.address-list .map:hover,
.address-list .map:focus {
  color: var(--accent-color);
}

/* Футер, часть по центру */

.caption {
  display: block;
  margin-top: 15px;
  margin-bottom: 20px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.footer-center .icon {
  fill: var(--primary-white-color);
}

.social-icons-link {
  background-color: #ffffff1a;
}

/* Футер, правая часть */
.footer-form {
  display: flex;
  justify-content: space-between;
}

.footer-mail {
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  background-color: transparent;
  width: 358px;
  height: 50px;
  border: 1px solid var(--form-border-color);
  border-radius: 4px;
  color: var(--address-footer-color);
}

.footer-mail::placeholder {
  color: var(--address-footer-color);
}

.footer-button {
  position: relative;
}

.footer-right .button-primary {
  padding-right: 62px;
  margin-right: 0;
}

.footer-right .button-primary:hover,
.footer-right .button-primary:focus {
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-form .icon {
  position: absolute;
  top: 13px;
  right: 28px;
  width: 24px;
  height: 24px;
  fill: var(--primary-white-color);
}

/* ПОРТФОЛИО */
/* Прячем заголовок уровня h1, как Julia Kleimenova показывала на занятии */

/* Фильтр */
.button-secondary {
  display: block;
  border-radius: 4px;
  padding: 6px 22px;
  border: 1px solid transparent;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--bcg-color-grey);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-secondary:hover,
.button-secondary:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-set {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button-item:not(:last-child) {
  margin-right: 8px;
}

/* Работы */
.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.card-item {
  flex-basis: calc((100% - 30px * 3) / 3);
  margin-left: 30px;
  margin-top: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-item:hover,
.card-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-content {
  padding-top: 20px;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 20px;
  border-right: 1px solid var(--border-line-card);
  border-bottom: 1px solid var(--border-line-card);
  border-left: 1px solid var(--border-line-card);
}

.card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.card-text {
  margin: 4px 0px 0px 0px;
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}

.card-img {
  position: relative;
  overflow: hidden;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-white-color);

  background-color: rgba(33, 149, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-item:hover .card-overlay,
.card-item:focus .card-overlay {
  transform: translateY(0%);
}

/* Модальное окно при нажатии на кнопку в Герое */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-white-color);
  cursor: pointer;
}

.button-close .icon {
  width: 18px;
  height: 18px;
  fill: var(--primary-black-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:focus .icon,
.button-close:hover .icon {
  fill: var(--accent-color);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal h2 {
  /* margin-top: 40px; */
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
}

/* Form */
.form-field {
  position: relative;
  display: block;
  margin-bottom: 28px;
  cursor: pointer;
}

.form-label {
  position: absolute;
  top: -18px;
  left: 0;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form-input {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid var(--modal-form-border);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.form-field .icon {
  position: absolute;
  top: 50%;
  left: 12px;
  width: 18px;
  height: 18px;
  fill: var(--title-text-color);
  transform: translateY(-50%);
}

.form-field:focus-within > .icon {
  fill: var(--accent-color);
}

.form-field:focus-within > .form-input {
  outline: 1px solid rgba(255, 255, 255, 0.1);
  border: 1px solid var(--accent-color);
}

/* Textarea */
.textarea {
  height: 120px;
  margin-bottom: 20px;
}

.form-textarea {
  padding: 12px 16px;
  resize: none;
  width: 100%;
  border: 1px solid var(--modal-form-border);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.form-textarea::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--modal-form-placeholder);
}

.textarea:focus-within > .form-textarea {
  outline: 1px solid rgba(255, 255, 255, 0.1);
  border: 1px solid var(--accent-color);
}

/* Checkbox */
.checkbox-label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.checkbox-icon {
  display: inline-block;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 1px solid var(--primary-black-color);
  border-radius: 2px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .checkbox-icon {
  background-color: var(--accent-color);
  background-image: url('../images/icons/icon-check.svg');
  background-size: contain;
  background-origin: border-box;
  border-color: var(--accent-color);
}

.checkbox:focus + .checkbox-icon {
  border: 1px solid var(--accent-color);
}

.checkbox-text a {
  text-decoration: underline;
  color: var(--accent-color);
}

.form .button-primary {
  padding: 10px 55px;
}
